{% if page.title %}
	<title>Maxime Testu - {{ page.title }}</title>
	<meta property="og:title" content="{{ page.title }} - Maxime Testu" />
{% else %}
	<title>Maxime Testu</title>
	<meta property="og:title" content="Maxime Testu" />
{% endif %}

<meta property="og:site_name" content="Maxime Testu" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta name="twitter:card" content="summary_large_image">
<meta property="og:description" content="Art by Maxime Testu" />

<style>
	{% include css/reset.css %}
	{% include css/style.css %}
</style>

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<meta name="viewport" content="width=device-width">