{% if page.title %}
	<title>Maxime Testu - {{ page.title }}</title>
	<meta property="og:title" content="{{ page.title }} - Maxime Testu" />
{% else %}
	<title>Maxime Testu</title>
	<meta property="og:title" content="Maxime Testu" />
{% endif %}

<meta property="og:site_name" content="Maxime Testu" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta name="twitter:card" content="summary_large_image">
<meta property="og:description" content="Art by Maxime Testu" />

<style>
	{% include css/reset.css %}
	{% include css/style.css %}
</style>

<meta name="viewport" content="width=device-width">