<div class="header">
	{% if include.back %}
		<div style="float: left;font-size: 21px;margin-right:10px">
			<a href="{{ include.back }}" style="text-decoration: none">&larr;</a>
		</div>
	{% endif %}
	<div>
		<h1>Maxime Testu</h1>
	</div>
	<div>
		<a href="mailto:contact@maximetestu.com">contact@maximetestu.com</a> · <a href="/files/CV-Maxime-Testu.pdf">CV</a> · <a href="/files/BOOK-Maxime-Testu-2025.pdf">BOOK</a> · <a href="/files/Catalogue-Grands-Formats-Maxime-Testu.pdf">Catalogue Grands Formats</a> · <a href="/files/Catalogue-Papiers-Maxime-Testu.pdf">Catalogue Papiers</a> · <a href="/files/Catalogue-Petits-Formats-Maxime-Testu.pdf">Catalogue Petits Formats</a>
	</div>
</div>