body {
	font-family: helvetica, arial, sans-serif;
	padding-top: 60px;
	line-height: 1.3;
}

p.lead {
	font-size: 1.3rem;
	margin-bottom: 1rem;
}
p.highlighted {
	padding: 1rem;
	background: #eee;
	margin: 1rem 0;
	border: 1px solid #999;
}

a {
	color: inherit;
}

b, strong {
	font-weight: bold;
}

i {
	font-style: italic;
}

ul {

}
li {
	margin-left: 15px;
	margin-bottom: 5px;
}

.header {
	position: fixed;
	top: 0;
	background: white;
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;
	z-index: 1000;
}

h1 {
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-style: italic;
	margin-bottom: 5px;
}

h3 {
	font-weight: bold;
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

.excerpt {
	display: block;
	color: black;
	text-decoration: none;
	margin: auto;
}

.photo-content {
	margin: 0 20px;
}

p:last-of-type {
	margin-bottom: 50px;
}
p {
	margin: 0 auto 10px;
}

.photos {
	text-align: center;
	display: block;
	text-decoration: none;
	margin-bottom: 40px !important;
}

.photo {
	margin: 0 10px;
}

.photos-static > .photo {
	margin: 0 20px 20px 20px;
	text-align: center;
}

.slick-slide {
	height: auto !important;
}

.slick-list {
	overflow: hidden;
}

img {
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}

body.page {
	padding: 1rem;
}
.container {
	max-width: 800px;
	margin: auto;
}
.flex-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: -1rem;
	flex-wrap: wrap;
}
.flex-item {
	margin: 1rem;
	flex-grow: 2;
	flex-basis: 25%;
}
