<head>
	{% include head.html %}
	<meta property="og:type" content="website" />
	{% if site.portfolio.first and site.portfolio.first.photo %}
		<meta property="og:image" content="{{ site.portfolio.first.photo }}" />
	{% endif %}
</head>
<body>

	{% include header.html %}

	{% for portfolio in site.portfolio %}

	<a href="{{ portfolio.url | prepend: site.baseurl }}" class="excerpt">
		<div>
			{% if portfolio.photo %}
				{% include image.html photo=portfolio.photo %}
			{% endif %}
			{{ portfolio.content }}
		</div>
	</a>

	{% endfor %}

</body>
