<html prefix="og: http://ogp.me/ns#">
<head>
	{% include head.html %}
	<meta property="og:type" content="website" />
	{% if site.portfolio.first and site.portfolio.first.photo %}
		<meta property="og:image" content="{{ site.portfolio.first.photo | absolute_url }}" />
	{% endif %}
</head>
<body>

	{% include header.html %}

	{% for portfolio in site.portfolio %}

	<a href="{{ portfolio.url | prepend: site.baseurl }}" class="excerpt">
	<!-- <div class="excerpt"> -->
		<div class="photos">
			{% if portfolio.photos %}
				{% for photo in portfolio.photos %}
					{% include image.html photo=photo %}
				{% endfor %}
			{% endif %}

			{% if portfolio.photo %}
				{% include image.html photo=portfolio.photo %}
			{% endif %}
		</div>
		{{ portfolio.content }}
	<!-- </div> -->
	</a>

	{% endfor %}

	{% include footer.html %}
</body>
