<head>
	<title>Maxime Testu</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">
	<!-- <meta name="viewport" content="initial-scale=1.0"> -->
	<meta name="viewport" content="width=device-width">
</head>
<body>

	{% include header.html %}

	<div class="excerpt">
		{{ page.content }}
	</div>

	<p style="text-align: center"><a href="/">&larr; Home</a></p>

</body>
