<html prefix="og: http://ogp.me/ns#">
<head>
	{% include head.html title=title %}

	<meta property="og:type" content="product" />
	<meta property="og:image" content="{{ page.photos[0] | absolute_url }}" />
</head>
<body>

	{% include header.html back='/' %}

	<div class="photos-static">
		{% if page.photos %}
			{% for photo in page.photos %}
				{% include image.html photo=photo %}
				{% if forloop.index == 1 %}
					{{ content }}
				{% endif %}
			{% endfor %}
		{% endif %}

		{% if page.photo %}
			{% include image.html photo=page.photo %}
			{{ content }}
		{% endif %}
	</div>

	<!-- <p style="text-align: center"><a href="/">&larr; Home</a></p> -->

	{% include footer.html %}
</body>
